@import "~@enact/agate/styles/skin.less";

.destinationList {
	.heading {
		margin-left: 12px;
		margin-right: 12px;
	}
}

.button {
	.applySkins({
		display: block;
		margin-top: 15px;

		.client {
			justify-content: flex-start;
		}
		.marker {
			height: 39px;
			width: 39px;
			background-color: @agate-accent;
			-webkit-mask-image: url('../../../assets/marker.svg');
			mask-image: url('../../../assets/marker.svg');
			-webkit-mask-size: contain;
			mask-size: contain;
			margin-right: 1ex;

			.markerText {
				color: @agate-white;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
				font-weight: normal;
			}
		}
	});
}

:global(.copper),
:global(.copper-day) {
	.button {
		.applySkins({
			.bg {
				border: 3px solid @agate-accent;
			}
		});
	}
}

:global(.cobalt) {
	.button {
		.applySkins({
			.bg {
				background-color: @agate-accent;
			}

			&.selected {
				.bg {
					background-color: @agate-highlight;
				}
			}

			.marker {
				background-color: @agate-highlight;
			}
		});
	}
}
