@import "~@enact/agate/styles/skin.less";

.map {
	.columnCell {
		margin-top: 1em;

		&:first-child {
			margin-top: 0;
		}

		p {
			margin: 12px;
		}

		.heading {
			margin-left: 12px;
			margin-right: 12px;
		}
	}

	.toolsColumn {
		min-width: 426px;
	}

	.toolsColumn,
	.toolsColumn .columnCell {
		pointer-events: none;

		> * {
			pointer-events: auto;
		}
	}

	.applySkins({
		.travelInfo {

			.number {
				font-size: 180%;
				color: @agate-highlight;
				text-shadow: 0 1px 3px black, 0 3px 9px fade(black, 25%);
			}
		}
	});
}

.button {
	.applySkins({
		.client {
			font-size: 24px;
		}
	});
}

:global(.copper),
:global(.copper-day) {
	.button {
		.applySkins({
			.bg {
				border: 3px solid @agate-accent;
			}
		});
	}
}

:global(.cobalt),
:global(.cobalt-day) {
	.button {
		.applySkins({
			.bg {
				background-color: @agate-accent;
			}

			.client {
				color: @agate-highlight;
			}

			&.selected {
				.bg {
					background-color: @agate-highlight;
				}

				.client {
					color: @agate-accent;
				}
			}
		});
	}
}
