@import "~@enact/agate/styles/skin.less";

.columnCell {
	margin-top: 2em;

	&:first-child {
		margin-top: 0;
	}
}

.button {
	width: 100%;

	.applySkins({
		.bg {
			border: 3px solid @agate-accent;
		}

		.client {
			font-size: 24px;
		}
	});
}

.toolsColumn,
.toolsColumn .columnCell {
	pointer-events: none;

	> * {
		pointer-events: auto;
	}
}
