.dashboard {
	padding: 24px;

	.speed {
		font-size: 72px;
	}

	.carImage {
		height: 440px;
		transform: rotateZ(-90deg);  // We may need to rotate the source SVG so the image can be more rectangular than square, to accomodate different layouts a little easier.
		width: 400px;
	}

	.progressBar {
		display: inline-block;
		margin: 0 3px;
		width: 200px;
	}

	.sideInfo {
		height: 330px;
		margin-bottom: 24px;
		align-self: flex-end;
	}

	.spacedToggles {
		margin-top: 12px;
		margin-bottom: 12px;
	}
}
