@import '~@enact/agate/styles/mixins.less';
@import '~@enact/agate/styles/skin.less';

.hvac {
	padding: 24px;

	.button {
		display: block;
		min-width: 159px;
	}

	.stackedButtons .button {
		margin-top: 24px;
	}

	.above {
		margin-top: 48px;
	}

	.below {
		margin-bottom: 48px;
	}

	.spaced {
		align-content: space-between;
		justify-content: space-around;
		align-items: center;
	}

	.spacedToggles {
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

.picker {
	.applySkins({
		min-width: 159px;
	})
}
