.hvac {
    padding: 24px;
    
    .button {
        min-width: 160px;
        display: block;
    }

	.above {
        padding-top: 64px;
	}

	.below {
        padding-bottom: 64px;
	}

	.spaced {
		align-content: space-between;
		justify-content: space-around;
		align-items: center;
	}
}