//TODO: lots and lots of variables to add to skin rules

.mediaList {

	.listItem {
		height: 270px;
		width: 480px;

		&.medium {
			height: 108px;
			width: 192px;
		}
	}
}

.multimedia {

	.adSpace {
		min-width: 20%;
	}

	.bodyRow {
		height: 100%;
	}

	.divider {
		text-align: center;
	}

	.iframe {
		border: 0;
	}
}

.thumbnailItem {

	.thumbnail {
		height: 90px;
	}
}