//TODO: lots and lots of variables to add to skin rules

.multimedia {
	.adSpace {
		min-width: 20%;
	}

	.bodyRow {
		height: 100%;
	}

	.divider {
		text-align: center;
	}

	.iframe {
		border: 0;
	}
}

.thumbnailItem {
	.thumbnail {
		height: 90px;
	}
}