//TODO: lots and lots of variables to add to skin rules

.multimedia {

	// video list container
	[data-slot="left"] {
		margin-right: 24px;
	}

	.adSpace {
		min-width: 20%;
	}

	.bodyRow {
		height: 100%;
	}

	.divider {
		text-align: center;
	}

	.dividerSony {
		text-align: center;
		letter-spacing: 5px;
		margin-top: -27px;
	}

	.logo {
		align-self: center;
		height: 138px;
		width: 314px;
		margin-bottom: 17px;
	}

	.iframe {
		border: 0;
	}
}

.thumbnailItem {
	.thumbnail {
		height: 90px;
	}
}