.phone {
	.scrollableContainer {
		padding: 48px 0;
		height: 100%;
		box-sizing: border-box;

		.contactsList {
			min-height: 96px;
			white-space: nowrap;
		}
	}

	.callButton {
		width: 300px;
	}
}
