@import "~@enact/agate/styles/skin.less";

.settingsView {
	@settings-vertical-spacing: 1em;

	.content {
		justify-content: center;
		min-width: 432px;

		.formRow {
			margin: 0 18px;
		}
	}

	.switchItem {
		//TODO: turn this into a variable
		min-height: 85px;

		//TODO: figure out why setting the color for label is necessary
		.label {
			color: inherit;
		}

		&.noToggle {

			.switchIcon,
			.label {
				display: none;
			}
		}
	}

	.applySkins({
		.header,
		.item {
			border-bottom: @agate-divider-border-width solid @agate-divider-border-color;
		}

		.formRow {
			.label {
				text-align: right;
				margin: @agate-component-spacing;
			}
		}

		.spacedItem {
			margin-bottom: @settings-vertical-spacing;
		}
	});
}
