// MapCore.less
//

@import "https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css";
@import "~@enact/agate/styles/mixins.less";

.map {
	&,
	.mapNode {
		position: absolute;
		.position(0);
	}

	.carImage {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 87px;
		width: 81px;
		transform: translate(-50%, -50%) ~"rotate(calc(var(--map-orientation, 0) * -1rad))";
		will-change: transform;
		z-index: 1;
		pointer-events: none;
	}

	.message {
		position: absolute;
		z-index: 100;
	}
}
