// MapCore.less
//

@import "https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css";
@import "~@enact/agate/styles/mixins.less";

.map {
	&,
	.mapNode {
		position: absolute;
		.position(0);
	}

	.message {
		position: absolute;
		z-index: 100;
	}

	.tools {
		position: absolute;
		.position(0, 0, 0, auto);
		z-index: 10;
		padding: @agate-app-keepout;
		width: 384px;

		.button {
			margin: 9px 0;
			display: block;
		}
	}
}

// We don't want the empty tools column area to be an invisible unclickable space
// This selector is here instead of above due to a precedence race-condition
.tools {
	pointer-events: none;

	> * {
		pointer-events: auto;
	}
}

// Sorry MapBox, we respect you and want to give credit, but we can't risk opening a new window that
// we don't have control over and can't get back to our app from.
:global(.mapboxgl-control-container) * {
	pointer-events: none;
}
