// Dialer.module.less
//
@import "@enact/agate/styles/mixins.less";
@import "@enact/agate/styles/skin.less";

.dialer {
	.row {
		margin-top: 0.5em;
		margin-bottom: 0.5em;

		// Theme-specific rules
		.digit:global(.silicon) {
			height: 3.0rem;
			line-height: 0.9em;

			.applySkins({
				color: @agate-black;

				.focus({
					color: @agate-white;
				})
			});
		}
	}

	[data-subtitle]::before {
		content: attr(data-subtitle);
		display: block;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translateX(-50%);
		letter-spacing: 0.1em;
		font-size: 15px;
		font-weight: bold;
	}
}
