@import "~@enact/agate/styles/variables.less";

// WeatherItem
@weather-featured-icon-size: 204px;
@weather-featured-item-font-size: 36px;
@weather-icon-size: 153px;
@weather-icon-margin: @agate-app-keepout 0;
@weather-item-font-size: 27px;
