.compactHeader {
    // font-family: SourceSansPro;
    .title {
        font-size: 20px;
        letter-spacing: 12.5px;
        color: #ffffff;  
        line-height: 45px;
        padding-left: 20px;
    }
    .btn {
        float: right;
    }
}