@import '~@enact/agate/styles/variables.less';

.compactHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        padding-left: @agate-app-keepout;
        text-transform: uppercase;
    }
}