// UserSelectionPopup.module.less
//
@import "~@enact/agate/styles/skin.less";

.userSelectionPopup {
	.applySkins({
		.button {
			margin-top: @agate-component-spacing;
			margin-bottom: @agate-component-spacing;
			height: 120px;

			&:global(.silicon) {
				height: 81px;
			}
		}

		.userItem {
			font-size: 160%;
			padding: @agate-component-spacing;

			.avatar {
				margin-right: @agate-component-spacing;
				vertical-align: middle;

				&:global(.silicon) {

					.image {
						padding: 0;
					}
				}
			}

			.content {
				margin-left: @agate-component-spacing;
				display: inline-block;
			}

			&.selected {
				.avatar {
					.image {
						border-color: @agate-accent;
					}
				}
			}
		}
	});
}
