@import "../../styles/console-variables.less";

.weatherItem {
	.applySkins({
		.item {
			font-size: @weather-item-font-size;
		}

		.icon {
			width: @weather-icon-size;
			margin: @weather-icon-margin;
		}

		&.featured {
			.item {
				font-size: @weather-featured-item-font-size;
			}

			.icon {
				width: @weather-featured-icon-size;
			}
		}
	});
}
