// WelcomePopup.less
//
@guideColor: rgba(255, 255, 255, 0.5);

.welcomePopup {
	.welcome {
		height: 100%;
		border: 1px solid @guideColor;

		.left {
			border-right: 1px solid @guideColor;
			margin-right: 3px;
		}
	}
}
