// WelcomePopup.module.less
//

@import "~@enact/agate/styles/skin.less";

// @guide-border-color: rgba(255, 255, 255, 0.5);
.welcomePopup {
	@welcome-letter-spacing: 12px;

	.applySkins({
		// suppress any transitioning for the popup
		transition-property: none;

		em {
			color: @agate-highlight;
			font-style: normal;
		}

		.time em {
			font-size: 150%;
		}

		.panel .body {
			padding: 0;
		}

		.welcome {
			height: 100%;

			// .left {
			// 	margin-right: 3px;
			// }
		}

		// &.useWelcomeBackground {
		// 	background: linear-gradient(to right, #0f151a 0%,#463c38 50%,#0f151a 100%);
		// }

		// .userSelectionPanel {
		// 	.header {
		// 		text-align: center;
		// 		font-size: 51px;
		// 		letter-spacing: 159px;
		// 		margin-right: -159px;
		// 		opacity: 0.4;
		// 		color: #a47d66;
		// 		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
		// 	}

		// 	.bodyRow {
		// 		width: 100%;
		// 		height: 100%;
		// 	}

		// 	.gridListImageItem {
		// 		width: 390px;

		// 		.image {
		// 			margin-top: 90px;
		// 			margin-bottom: 90px;
		// 			border: 9px solid #594339;

		// 			&::before {
		// 				position: absolute;
		// 				content: '';
		// 				top: -36px;
		// 				left: -36px;
		// 				right: -36px;
		// 				bottom: -36px;
		// 				border: 3px solid #594339;
		// 				opacity: 0.5;
		// 				border-top: 0px;
		// 				border-left: 0px;
		// 				border-radius: 50%;
		// 				transform: rotate(calc(var(--user-index, 0) * 225deg));
		// 			}
		// 		}

		// 		.caption {
		// 			color: #a47d66;
		// 		}
		// 	}
		// }

		.headerCell {
			margin: 48px 60px 0 60px;
		}

		.contentCell {
			margin: 12px 84px;

			&:last-child {
				margin-bottom: 48px;
			}
		}

		.avatar {
			margin-right: 30px;

			.image {
				border-color: @agate-accent;
			}
		}

		.activeName {
			font-size: 24px;
			letter-spacing: @welcome-letter-spacing;
			// This refers to theme colors, so we'll get them updated soon after the theme is ready
			color: @agate-accent;
		}

		.heading {
			background-image: linear-gradient(to right, transparent, @agate-accent, transparent);
			height: 1px;
			min-height: 1px;
			padding: 0;
		}

		.widget {
			padding: 0;
		}

		.time {
			letter-spacing: @welcome-letter-spacing;
			text-transform: uppercase;
		}

	});
}
